body{
background:#f2f2f2;
font-family:sans-serif;
}


.card{
width:320px;
background:white;
margin:40px auto;
border-radius:16px;
box-shadow:0 8px 20px rgba(0,0,0,0.1);
overflow:hidden;
}


.imagem{
background:#e5e5e5;
padding:20px;
position:relative;
}


.imagem img{
width:100%;
display:block;
}


.off{
position:absolute;
top:15px;
left:15px;
background:black;
color:white;
font-size:10px;
padding:5px 10px;
border-radius: 7px;
}


.conteudo{
padding:20px;
}


h2{
font-size:18px;
margin-bottom:10px;
}


p{
font-size:14px;
color:#555;
}


.preco-antigo{
text-decoration:line-through;
color:#999;
font-size:14px;
}


.rodape{
margin-top:10px;
}


.preco-novo{
font-size:22px;
font-weight:bold;
}


button{
float:right;
background:#0f172a;
color:white;
border:none;
padding:10px 15px;
border-radius:8px;
cursor:pointer;
}